*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;

}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}


body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1,h2
{
    color:rgba(206, 49, 10, 0.548);
    font-size: 40px;
    margin-bottom: 30px;
   
}
p
{
    color:indigo;
    
}

.maintext{
    text-align: left;
    margin-bottom: 50px;

}
.authortext{
    font-size: 30px;
    color : red;
}
.container{
    width:1140px;
    margin: 20px auto 0 auto;

}
.myblogpost{
    background-color: #0000ff;
    width :75%;
    float:left;
    padding-right: 30px;
}
.otherposts{
    background-color: #00ff00;
    width: 25%;
    float:left;
}
.authorpost{
    background-color: #ffff00;
}